*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:arial;
    border: none;
}
main{
    font-size:12px;
    background-color: #e2e7e6;
    min-height: 1270px;
}
nav {
    height: 60px;
    background-color: #0f1111;
    color:#ffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav .nav_icon{
    margin:1px;
    height: 50px;
    width:113px;
    display: inline-block;
    cursor:pointer;
    
}
nav .nav_icon .logo{
    height: 50px;
    width:113px;
    background-image: url("../Amazon_Clone/images/amazon_logo.png");
    /* To adjust the size according to the size of div */
    background-size: cover;
    display: inline-block;
}
/* Defining the transparent border so that size will remain same afer hoverin */
.border{
    border:1px solid transparent;
}
/* Condition of hover */
.border:hover{
    border:1px solid white;
    cursor:pointer;

}

/* Setting the styling of 2nd box i.e location */
nav .location{
    display: inline-block;
    height:50px;
    margin:5px 2px 5px 5px;
    padding: 6px 5px 0px 0px  ;
    cursor: pointer
    ;
}

nav .location #deliver{
    font-size: 1rem;
    color: #CCCCCC;
}

nav .location #icon_loc{
    font-size: 1.1rem;
}

nav .location #icon_loc p{
    display: inline-block;
}

/* Setting the styling of Search Bar */
nav .search{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width:620px;
    border-radius:4px 4px 4px 4px ;
    font-size : 1.1rem;
  
}
nav .search .option{
    width:45px;
    font-size: 1rem;
    padding: 1px;
    border-radius:4px 0px 0px 4px ;
    background-color: #e7e7e7;
    cursor:pointer;
    
}

nav .search .search_bar{
    font-size: 1.1rem;
    width:100%;
    padding: 7px;
}

nav .search .search_icon{
    display: flex;
    width:45px;
    color:black;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
    background-color: orange;
    cursor:pointer;
}
/* To show the orange border to search bar  */
.orange_border{
    border:2px solid transparent;
}
.orange_border:focus{
    border:2px solid orange;
    border-radius:4px;
}
nav .us{
    cursor: pointer;
    display:flex;
    height: 50px;
    align-items: center;
    padding: 10px 9px;
}
nav .us p{
    font-weight: 600;
    font-size: 1rem;
    margin:13px 0px 0px 0px;
}
nav .us img{
    margin:13px 0px 0px 0px;
} 
nav .signin_account{
    height:50px;
    cursor:pointer;

}
nav .small_text{
    font-size: 0.8rem;
}

nav .big_text{
    font-size: 0.9rem;
    font-weight:600;
}

nav .text{
    margin-top: 10px;
}

/* Styling the cart and the text with cart  */
nav .cart{
    height:50px;
    display: flex;
    cursor:pointer;
}
nav .cart i{
    font-size:25px;
    margin-top: 13px;
}
nav .cart p{
    margin-top: 22px;
    font-weight: 600;
}

/* Styling the panel */
.panel{
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    background-color: #222f3d;
    color:white;
}

.panel .panel_option{
    display: flex;
    width:95%;
    height:100%;
}

.panel .panel_option p{
    margin-left:15px;
    height:95%;
    padding-top:10px;
}
.panel .panel_all{
    height:95%;
    padding-top: 10px;
    font-size: 0.95rem;
    font-weight: 600;
}
main .hero-part{
    background: url('../Amazon_Clone/images/hero.jpg');
    background-size: cover;
    height:600px;
    cursor: text;
}
main .shop-box{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top:360px;
}
main .box{
    height: 360px;
    width:23%;
    background-color: white;
    padding:16px 16px;
}
main  img{
    height: 80%;
    width:100%;
    margin:5px 0px;
}
/* To show the green color of the text blow to the picture
 */
 main p{
    cursor: pointer;
 }
.green{
    color:rgb(7, 118, 7);
}
.green:hover{
    color:red;
}

/* Shop box 1 */

main .shop-box1{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 740px;
}

main .shop-box2{
    display: flex;
    justify-content: space-evenly;

}

main .combine_box{
    width: 97%;
    height: 220px;
    background-color: white;
    position: absolute;
    top:1120px;    
}

main .shop-box2 .combine_box .combine_box_elements{
    display: flex;
}
main .shop-box2 .combine_box .combine_box_elements .img{
    height: 200px;
    background-repeat: no-repeat;
    margin: 20px;
}

main .shop-box2 .combine_box .combine_box_elements .img1{
    width: 191px;
}

main .shop-box2 .combine_box .combine_box_elements .img2{
    width: 92px;
}

main .shop-box2 .combine_box .combine_box_elements .img3{
    width: 270px;
}

main .shop-box2 .combine_box .combine_box_elements .img4{
    width: 90px;
}
main .shop-box2 .combine_box .combine_box_elements .img5{
    width: 195px;
}
main .shop-box2 .combine_box .combine_box_elements .img6{
    width: 195px;
}
main .shop-box2 .combine_box .combine_box_elements .img7{
    width: 203px;
}
img{
    cursor:pointer;
}
footer .foot-panel1{
    background-color: #37475a;
    color:white;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
}
footer .foot-panel1:hover{
    background-color: #738aa9;

}

footer .foot-panel2{
    height:370px;
    background-color: #222f3d;
    color:white;
    display: flex;
    justify-content: space-evenly;
}

footer .foot-panel2 ul{
    margin-top: 30px;
}
footer .foot-panel2 ul a{
    display: block;
    margin-top: 12px;
    font-size: 0.7rem;
    cursor: pointer;
}
footer .foot-panel2 ul a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
footer .foot-panel3{
    height:70px;
    width:100%;
    background-color:  #222f3d;
    color:white;
    border-top:0.1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .foot-panel3 .logo{
    background-image:url("../Amazon_Clone/images/amazon_logo.png") ;
    background-size: cover;
    height: 60px;
    width:110px;
    display: inline-block;
    
}

footer .foot-panel3 .foot-items{
    height:30px;
    width:110px;
    border:1px solid white;
    margin-left: 25px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 0.8rem;
    padding:2px;
}
footer .foot-panel4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50px;
    color:white;
    font-size: 0.7rem;
    background-color: #131A22;
}
footer .foot-panel4 .content{
    margin-top: 10px;
    display: flex;
    margin-bottom: 7px;
    
}
footer .foot-panel4 .content div{
    margin-right: 20px;

}




